/***** MEDIA QUERY *****/

/**** TABLET *****/

@media screen and (max-width: 990px) {

  /***** UTILITIES *****/
  
  /* Layout */

  .card-25 {
    width: 25%;
  }

}


/**** SMARTHPHONE *****/

@media screen and (max-width: 767px) {

  /***** UTILITIES *****/
  
  /* Layout */

  .card-50 {
    width: 50%;
  }

  /**** FOOTER ****/

  .footer-30 {
    width: 30%; 
  }

  .footer-flex-column {
    flex-direction: column;
    justify-content: space-around;
  }

}


@media screen and (max-width: 599px) {
  
  /**** HEADER + MAIN ****/

  .width-small {
    width: var(--width-mb);
  }

  /**** ASIDE ****/  

  .aside-mb {
    width: var(--width-aside-mb);
  }

  .d-none-mb {
    display: none;
  }

  .d-block-mb {
    display: block;
  }

  .aside-column {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .aside-menu ul:first-child li::before {
    display: none;  /*scomapre la barretta verde dell'active */
  }

  .aside-menu ul:first-child li {
    padding: 5px 0;
  }
  
  .aside-menu svg {
    margin-left: 0;
  }  

  .aside-bottom .install {
    border-bottom: none;
  }

}