/***** MAIN STYLES *****/

/**** HEADER ****/

header {
  width: var(--width-dt);
  height: var(--height-header);
  position:fixed;
  top: 0;
  right:0;
  background-color: var(--bg-header);
}

.btn {
  display: inline-block;
  text-transform: uppercase;
  padding: 12px 40px;
  color: var(--color-2);
  border: 1px solid var(--color-2);
  border-radius: 25px;
  margin: 20px 30px 0 0;
  cursor: pointer;
  transition: 0.2s;
}

.btn:hover {
  transform: scale(1.1);
}

/* ----------------------------------- */

/**** ASIDE ****/

/* Aside general */

aside {
  width: var(--width-aside-dt);
  background-color: var(--bg-aside);
  color: var(--color-1);
}

aside li {
  
  border-left: 3px solid var(--bg-aside);
  cursor: pointer;
}

/* Aside top */

.aside-top {
  height: var(--height-aside-top);
  min-height: 300px;
  overflow: hidden;
}

.logo {
  cursor: pointer;
}

.logo img:first-child {
  width: 130px;
  margin: 20px;
  padding-left: 3px;    /*3 px per il bordo della classe active che hanno gli li */
}

.logo img:last-child {
  width: 30px;
  display: none;
  margin: 5px 15px 15px;
}

.aside-menu ul:first-child li {
  padding: 5px 0px 5px 20px;
}

.aside-menu svg {
  width: 25px;
}

.aside-menu .icon {
  fill: var(--color-1);
}

.aside-menu svg + span {
  margin-left: 5px;
}

.aside-menu ul:first-child {
  margin-bottom: 25px;
}

.aside-menu h4 {
  /* 20+3 px per il bordo della classe active che hanno gli li */
  padding-left: 23px; 
}

.playlist {
  padding:10px 23px 10px; /* 20+3 px per il bordo della classe active che hanno gli li */
  cursor: pointer;
}

.aside-menu ul:last-child {
  /* istruzioni per overflow delle playlist */
  height: 200px;
  overflow: auto;
  margin-right: 20px;
}

.aside-menu ul:last-child li {
  padding: 10px 20px 10px;
}

.playlist i {
  font-size: 2.5rem;
  margin-right: 10px;
}

.playlist span {
  font-size: 0.9rem;
}

/* Aside Bottom */

.aside-bottom {
  height: var(--height-aside-bottom);
  padding: 0 23px;    /*20+3 px per il bordo della classe active che hanno gli li */
  cursor: pointer;
}

.aside-bottom .install {
  padding-bottom: 10px;
  border-bottom: 1px solid var(--color-1);
  margin-bottom: 12px;
}

.aside-bottom div span {
  margin-left: 10px;
}

.aside-bottom .rounded img {
  object-fit: contain;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: var(--color-1);
}

.aside-bottom .rounded + span {
  font-size: 0.9rem;
  color: var(--color-2);
}

/* hover - active */

aside li:hover,
aside .playlist:hover {
  color: var(--color-2);
}

aside li:hover .icon {
  fill: var(--color-2);
}

.aside-bottom .install:hover {
  color: var(--color-2);
} 

.active-aside {
  border-left: 3px solid var(--color-3);
}



/* ----------------------------------- */

/**** MAIN ****/

/* Main general */

main {
  width: var(--width-dt);
  background-color: var(--bg-main);
  padding-top: var(--height-header);
  overflow: auto;
}

/* Menu */

.menu li {
  text-transform: uppercase;
  cursor: pointer;
  color: var(--color-1);
  margin: 20px 10px 30px; 
}

#menu-active {
  width: 30px;
  height: 2px;
  margin-top:4px
}

.menu li:hover {
  color: var(--color-2);
}

/* Section general (recent-tips-popular) */

section h2 {
  padding: var(--padding-card);
} 

section h2 + p {
  padding: var(--padding-card);
  margin: 8px 0 25px;
}

.card h3 {
  margin: 15px 0 5px;
}

section .row {
  margin-bottom: 30px;
}

/* Recent section */

#recent h2 {
  margin-bottom: 25px;
}

#recent .row {
  margin-bottom: 40px;
}

/* Popular section */

#popular img {
  border-radius: 50%;
  position: relative;
}

/* hover album image (play button e opacità */

.image {
  position: relative;
}

.image i {
  font-size: 3.5rem;
  color: var(--color-2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.card:hover i {
  display: block;
}

.card:hover img {
  filter: opacity(0.5);
}


/* ----------------------------------- */

/**** FOOTER ****/

footer {
  width: 100%;
  height: var(--height-footer);
  position: fixed;
  bottom: 0;
  background-color: #282828;

  
  /* debug */
  color: white;
}

.side-footer {
  width: 230px;

  /* debug */
  background-color: green;
  height: 30px;
}

.play-bar {
  width: 40%;
  /* debug */
  background-color: rgba(234, 71, 26, 0.2);
  height: 30px;
}



