/***** GENERAL STYLES *****/
/**** Desktop first *****/


:root {
  --width-aside-dt: 230px;
  --width-aside-mb: 60px;
  --width-dt: calc(100vw - var(--width-aside-dt));
  --width-mb: calc(100vw - var(--width-aside-mb));
  --height-header: 90px;
  --height-footer: var(--height-header);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;     

  /* debug */
  color: white;
}

ul {
  list-style: none;
}


/***** UTILITIES *****/

/* Flex */

.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

/* Layout */

.main-container {
  height: calc(100vh - var(--height-footer));
} 



.container {
  margin-left: 20px;
  margin-right: 45px;

  /* debug */
  background-color: chartreuse;
}

.card {
  width: calc(100% / 6);
  padding: 0 0.5rem;

  /* debug */
  background-color: rgb(8, 0, 255);
  border: 1px solid red;
  height: 200px;
}






/***** MAIN STYLES *****/

  

/**** HEADER ****/

header {
  width: var(--width-dt);
  height: var(--height-header);
  position:fixed;
  top: 0;
  right:0;
  background-color: rgba(0, 0, 0, 0.3);
}

/**** ASIDE ****/

aside {
  width: var(--width-aside-dt);
  background-color: #000000;
}

.aside-mb {
  display: none;
}


/**** MAIN ****/

main {
  width: var(--width-dt);
  background-color: #141922;
  padding-top: var(--height-header);
  overflow: auto;
}

/* menu */

/* Recents section */

.inner-card {
  /* debug */
  background-color: deeppink;
  height: 100%;
}


/**** FOOTER ****/

footer {
  height: var(--height-footer);
  background-color: #282828;
  
  /* debug */
  color: white;
}

.side-footer {
  width: 230px;

  /* debug */
  background-color: green;
  height: 30px;
}

.play-bar {
  width: 40%;
  /* debug */
  background-color: rgba(234, 71, 26, 0.2);
  height: 30px;
}



/***** MEDIA QUERY *****/

/**** TABLET *****/

@media screen and (max-width: 990px) {

  /***** UTILITIES *****/
  
  /* Layout */

  .card-25 {
    width: 25%;
  }

}



/**** SMARTHPHONE *****/

@media screen and (max-width: 767px) {

  /***** UTILITIES *****/
  
  /* Layout */

  .card-50 {
    width: 50%;
  }

  /**** FOOTER ****/

  .side-footer {
    width: 30%; 
  }


}

@media screen and (max-width: 599px) {
  
  /**** HEADER ****/

  header {
    width: var(--width-mb);
  }


  /**** ASIDE ****/

  aside {
    width: 60px;
  }

  .aside-dt {
    display: none;
  }

  .aside-mb {
    display: block;
  }


  /**** MAIN ****/

  main {
    width: var(--width-mb);
  }
}
