/***** MAIN STYLES *****/

/**** HEADER ****/

/* header general */

header {
  width: var(--width-dt);
  height: var(--height-header);
  position:fixed;
  top: 0;
  right:0;
  background-color: var(--bg-header);
}

/* header btn + hover */

.btn {
  display: inline-block;
  text-transform: uppercase;
  padding: 12px 40px;
  color: var(--color-2);
  border: 1px solid var(--color-2);
  border-radius: 25px;
  margin: 20px 30px 0 0;
  cursor: pointer;
  transition: 0.2s;
}

.btn:hover {
  transform: scale(1.1);
}


/* ----------------------------------- */

/**** ASIDE ****/

/* Aside general */

aside {
  width: var(--width-aside-dt);
  background-color: var(--bg-aside);
  color: var(--color-1);
}

aside li,
.logo,
.aside-bottom .install {
  cursor: pointer;
}

/* Aside top */

.aside-top {
  height: var(--height-aside-top);
  min-height: 280px;
  overflow: hidden;
}

.logo img:first-child {
  width: 130px;
  margin: 20px 20px 20px 17px;
}

.logo img:last-child {
  width: 30px;
  display: none;
  margin: 5px 15px 15px;
}

.aside-active {
  width: 3px;
  height: 30px;
}

.aside-menu ul:first-child li {
  padding: 5px 0px;
}

.aside-menu svg {
  width: 25px;
}

.aside-menu .icon {
  fill: var(--color-1);
}

.aside-menu svg {
  margin-left: 17px;
}

.aside-menu svg + span {
  margin-left: 5px;
}

.aside-menu ul:first-child {
  margin-bottom: 25px;
}

.aside-menu h4 {
  padding-left: 20px; 
}

.playlist {
  padding:10px 20px 10px; 
  cursor: pointer;
}

.aside-menu ul:last-child {
  /* istruzioni per overflow delle playlist */
  height: 200px;
  overflow: auto;
  margin-right: 20px;
}

.aside-menu ul:last-child li {
  padding: 10px 20px 10px;
}

.playlist i {
  font-size: 2.5rem;
  margin-right: 10px;
}

/* Aside Bottom */

.aside-bottom {
  height: var(--height-aside-bottom);
  padding: 0 20px;    
}

.aside-bottom .install {
  padding-bottom: 10px;
  border-bottom: 1px solid var(--color-1);
  margin-bottom: 12px;
}

.aside-bottom div span {
  margin-left: 10px;
}

.aside-bottom .rounded img {
  object-fit: contain;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: var(--color-1);
}

.aside-bottom .rounded + span {
  font-size: 0.9rem;
  color: var(--color-2);
}

/* hover - active */

aside li:hover,
aside .playlist:hover {
  color: var(--color-2);
}

aside li:hover .icon {
  fill: var(--color-2);
}

.aside-bottom .install:hover {
  color: var(--color-2);
} 


/* ----------------------------------- */

/**** MAIN ****/

/* Main general */

main {
  width: var(--width-dt);
  background-color: var(--bg-main);
  padding-top: var(--height-header);
  overflow: auto;
}

/* Menu */

.menu li {
  text-transform: uppercase;
  cursor: pointer;
  color: var(--color-1);
  margin: 20px 10px 30px; 
}

.menu li::after {
  content: '';
  width: 30px;
  height: 2px;
  margin-top:4px
}

/* hover Menu */

.menu li:hover {
  color: var(--color-2);
}

/* Section general (recent-tips-popular) */

section h2 {
  padding: var(--padding-card);
} 

section h2 + p {
  padding: var(--padding-card);
  margin: 8px 0 25px;
}

.card img {
  /* le istruzioni che seguono servono solo nel caso di immagini non quadrate */
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.card h3 {
  margin: 15px 0 5px;
}

section .row {
  margin-bottom: 30px;
}

/* Recent section */

#recent h2 {
  margin-bottom: 25px;
}

#recent .row {
  margin-bottom: 40px;
}

/* Popular section */

#popular img {
  border-radius: 50%;
  position: relative;
}

/* hover album image (play button e opacity) */

.image {
  position: relative;
}

.image::after {
  content: '\f144';
  font-family: "Font Awesome 6 Free";
  font-weight: 400; /* essendo bold il body devo toglierlo per far funzionare il font awesome */
  font-size: 3.5rem;
  color: var(--color-2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.card:hover .image::after {
  display: block;
}

.card:hover img {
  filter: opacity(0.5);
}


/* ----------------------------------- */

/**** FOOTER ****/

/* Footer general */

footer {
  height: var(--height-footer);
  background-color: var(--bg-footer);
}

footer span {
  font-size: 0.7rem;
}

footer i {
  cursor: pointer;
}

.side-footer {
  width: 230px;
}

.side-footer i {
  font-size: 0.9rem;
}

/* .progress (avanzamento) general  */

.progress { 
  background-color: var(--bg-play-bar);
  cursor: pointer;
  position: relative;
}

.progress::before {
  content: '';
  background-color: var(--color-2);
  position: absolute;
  top: 0;
  left: 0;
}

.progress,
.progress::before {
  height: 4px;
  border-radius: 4px;
}

/* hover .progress (avanzamento) general */

.progress:hover::before {
  background-color: var(--color-3);
}

.progress:hover::after {
  content:'';
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--color-2);
  position: absolute;
  top: -2px;
}

/* side footer left */

.side-footer.left img {
  width: 25%;
  aspect-ratio: 1 / 1;  /* si deve rimpicciolire quando scatta la media query senza deformarsi*/
  margin: 0 10px;
}

.side-footer.left i {
  margin: 0 7px;
}

.side-footer.left span,
.side-footer.left i {
  color: var(--color-1);
} 

/* hover side footer left */

.side-footer.left span:hover {
  text-decoration: underline;
}

.side-footer.left span:hover,
.side-footer.left i:hover {
  color: var(--color-2);
} 

/* play-bar */

.play-bar {
  width: 40%;
}

/* play-bar icon */

.play-bar .icon {
  font-size: 1rem; 
}

.play-bar .icon i {
  margin: 0 10px;
}

.play-bar .icon i:nth-child(3) {
  font-size: 1.8rem;
}

/* hover play-bar icon */

.play-bar .icon i:nth-child(3):hover {
  transform: scale(1.1);
}

/* play-bar  bar  */

.play-bar .bar {
  padding: 0 20px;
}

.play-bar .progress {
  margin: 0 4%;
  width: 80%;  
}

.play-bar .progress::before {
  width: 20%;
}

/* hover play-bar bar */

.play-bar .progress:hover::after {
  left: calc(20% - 8px); 
}

/* side footer right */

.side-footer.right {
  padding: 0 10px;
}

.side-footer.right .progress {
  width: 50%;  
}

.side-footer .progress::before {
  width: 25%;
}

/* hover side footer right */

.side-footer.right .progress:hover::after {
  left: calc(25% - 8px);
}


  




















